@media (prefers-color-scheme: dark) {
    .homepage {
      background-color: #252525
    }
    .header {
      background: linear-gradient(60deg, rgb(180, 180, 180) 100%, rgb(126, 126, 126) 100%);
    }
    .content {
      background-color: #252525;
    }
    h1 {
      color: #252525;
    }
    p {
      color: #252525;
    }
}