* {
  font-family: 'Nunito', sans-serif;
}

:root {
  --gradient: linear-gradient( 140deg, #1f1c20, rgb(178, 192, 212), rgb(78, 53, 46), rgb(255, 64, 0));
}

main {
  background: white;
  color: darkslategray;
}

a, button {
  font-size: 16px;
  color: white;
}

header {
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 0rem black);
}

.space {
  display: grid;
  margin: auto;
  text-align: center;
  padding: 5em;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 42px;
  color: rgb(178, 192, 212);
  margin-top: 0em;
  margin: 1em;
}

a {
  letter-spacing: 1px;
  font-size: 14px;
  color: #378dfd;
  text-decoration: underline;
}

a:hover {
  color: #88bbff;
}

body {
  background: #c7c7c7;
  height: 100vh;
}

p {
  letter-spacing: .5px;
  font-size: 14px;
  color: rgb(97, 97, 97);
}

#instructions {
  margin: auto;
}

#welcome {
  margin: auto;
  padding-top: 4em;
}

#tiny {
  font-size: 1em;
  letter-spacing: 1px;
  color: rgb(47, 79, 79);
  margin: auto;
  padding: 1em;
}

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #e9e9e9;
  padding-bottom: 5em;
  padding: 2em;
}

input {
  background-color: rgb(178, 192, 212)
}

input, p, h1, h2, button {
  margin: auto;
}

form {
  margin: auto;
  padding: 3em;
}

footer {
  background-image: var(--gradient);
  background-size: 300%;
  color: rgb(77, 77, 77);
  background-position: bottom;
}

footer section {
  align-items: center;
}

.content {
  width: 100%;
  background-image: var(--gradient);
  background-size: 500%;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left
  }
  100% {
    background-position: center
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.parallaxDark>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallaxDark>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallaxDark>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallaxDark>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallaxDark>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (min-width: 900px) {
  .content {
    height: 100vh;
  }
  main {
    height: 60vh;
    padding: 5em;
  }
  .adeu {
    height: 20vh;
  }
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .waves {
    height: 17px;
    min-height: 60px;
  }
}